{% extends 'index.html' %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block title %}
<title>Home Page</title>
{% endblock %}

{% block style %}
<style>
    body{
        background-color:rgba(234,234,234,1);
    }
    .svg_img:hover{
        cursor:pointer;
    }
    .svg_img:active{
        cursor:pointer;
        transform:scale(1.05);
    }
    .block{
        display:block;
    }
    .leave{
        color:black;
    }
    .cus-btn{
        border-radius:50px;
        background-color:green;
        color:white;
        font-size:20px;u
    }
    i{
        font-size:42px;
    }


</style>
{% endblock %}

{% block main %}
{% include "nav.html" %}
<div class="container">
    <div class="my-5 main">
        <form autocomplete="off" method="post">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-6 col-sm-12">
                    {{form.username|as_crispy_field}}
                </div>
                <div class="form-group col-md-3 col-sm-12">
                    {{form.role|as_crispy_field}}
                </div>
                <div class="form-group col-md-3 col-sm-12">
                    {{form.team|as_crispy_field}}
                </div>
                <input type="submit" value="Search" class="btn btn-block btn-primary mx-2">
            </div>
        </form>
    </div>

    {% if search_result %}
        {% for obj in object_list %}
            <a href="{% url 'users_app:users_employee_view_page' username=obj.user.username %}">{{ obj.user.username }}</a><br>
            {{ obj.team }}<br>
            {{ obj.role }}
            <br><hr><br>
        {% empty %}
            <p>No search results</p>
        {% endfor %}
    {% endif %}

</div>
{% endblock %}

{% block script %}
<script>
    $(".nav-item2").removeClass("active");
    $(".nav-item3").removeClass("active");
    $(".nav-item4").addClass("active");
    $(".nav-item5").removeClass("active");
    $(".nav-item6").removeClass("active");
</script>
{% endblock %}