{% extends 'index.html' %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block title %}
<title>Home Page</title>
{% endblock %}

{% block style %}
<style>
    body{
        background-color:#E8F1F2;
    }
    .svg_img:hover{
        cursor:pointer;
    }
    .svg_img:active{
        cursor:pointer;
        transform:scale(1.05);
    }
    .block{
        display:block;
    }
    .leave{
        color:black;
    }
    .cus-btn{
        border-radius:50px;
        background-color:green;
        color:white;
        font-size:20px;u
    }
    i{
        font-size:42px;
    }
    .box{
        border-radius:5px;
        box-shadow:0px 0px 1px 0px black;
        background-color:white;
    }


</style>
{% endblock %}

{% block main %}
{% include "nav.html" %}
<div class="container">
    <div class="box my-5 p-4">
        <div>
            <form method="post" autocomplete="off">
                {% csrf_token %}
                <div class="profile">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="emp_first_name">First Name</label>
                            <input id="emp_first_name" class="form-control" value="{{object.user.first_name}}" name="first_name">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="emp_last_name">Last Name</label>
                            <input id="emp_last_name" class="form-control" value="{{object.user.last_name}}" name="last_name">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="emp_email">Email</label>
                            <input id="emp_email" class="form-control" value="{{object.user.email}}" name="email">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="emp_team">Team</label>
                            <input id="emp_team" class="form-control" value="{{object.team}}" name="team">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="emp_role">Role</label>
                            <input id="emp_role" class="form-control" value="{{object.role}}" name="role">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="emp_phone">Phone</label>
                            <input id="emp_phone" class="form-control" value="{{object.phone}}" name="phone">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="emp_salary">Salary</label>
                            <input id="emp_salary" class="form-control" value="{{object.salary}}" name="salary">
                        </div>
                    </div>
                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-success">Update</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    $(".nav-item2").removeClass("active");
    $(".nav-item3").removeClass("active");
    $(".nav-item4").addClass("active");
    $(".nav-item5").removeClass("active");
    $(".nav-item6").removeClass("active");

</script>
{% endblock %}