{% extends 'index.html' %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block title %}
<title>Home Page</title>
{% endblock %}

{% block style %}
<style>
    body{
        background-color:#E8F1F2;
    }
    .form-control:focus{
        box-shadow:0 0 0 0 white;
    }
    .box{
        border-radius:5px;
        box-shadow:0px 0px 1px 0px black;
        background-color:white;
    }
    a:hover{
        text-decoration:none;
    }
</style>
{% endblock %}

{% block main %}
{% include "nav.html" %}

<div class="container">
    <div class="box p-4 my-5 main">
        {% if show_pop_up %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
              Password changed successfully.
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
        {% endif %}
        <div>
            <form method="post">
                {% csrf_token %}
                <label for="password_reset">New Password:</label>
                <input id="password_reset" class="form-control" placeholder="New password" name="new_password" type="password" required/>
                <button class="btn btn-primary mt-2 text-right" type="submit">Update</button>
            </form>
        </div>
        <hr color="black">
        <a href="{% url 'users_app:users_man_faq_page' %}">Manage FAQS</a><br>
        <a href="{% url 'users_app:users_man_policy_page' %}">Manage Policies</a><br>
        <a href="{% url 'users_app:users_man_holiday_page' %}">Manage Holidays</a>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    $(".nav-item2").removeClass("active");
    $(".nav-item3").removeClass("active");
    $(".nav-item4").removeClass("active");
    $(".nav-item5").removeClass("active");
    $(".nav-item6").addClass("active");
</script>
{% endblock %}